body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f7f7f7;
}

.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
    float: left;
    background-color: #dceeff;
}

.chart {
    float: right;
    margin: 10px 20px 0 0;
}

.gratBackground {
    fill: #dceeff;
}

.gratLines {
    fill: none;
    stroke: #b8c7d9;
    stroke-width: 0.3px;
}

.regions {
    stroke: #000;
    stroke-width: 0.2px;
    stroke-linecap: round;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: bold;
}

.chartBackground {
    fill: rgba(128,128,128,.15);
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #666;
}
.bar {
    shape-rendering: crispEdges;
    opacity: 0.9;
}

.axisLabel {
    font-family: sans-serif;
    font-size: 0.85em;
    fill: #666;
}